<ol class="breadcrumb">
	<li>
		<a href="~/">Главная</a>
	</li>
	<li>
		@Html.ActionLink("По группировка версии", "Index")
	</li>
	<li class="active">Детализация</li>
</ol>

<div>
	<table class="table">
		<thead>
		<tr>
			<th>Дата создания</th>
			<th>Пользователь</th>
			<th>Версия</th>
			<th>Текущая версия</th>
			<th>Примечание</th>
		</tr>
		</thead>
		<tbody>
		@foreach(var item in Model) {
			<tr>
				<td>@item.CreatedOn</td>
				<td>
					<a href="~/Users/@item.User.Id/Edit">@item.User.Name</a>
				</td>
				<td>@item.Version</td>
				<td>@item.User.AFNetConfig.ClientVersion</td>
				<td>@item.ErrorDescription</td>
			</tr>
			}
		</tbody>
	</table>
</div>
